[Desktop Entry]
# http://freedesktop.org/Standards/desktop-entry-spec/
Version=1.0
Terminal=false
TryExec=su-to-root
Exec=su-to-root -X -c /usr/local/bin/wiithon
Icon=/usr/share/pixmaps/wiithon.svg
Type=Application
Categories=QT;Application;Office;Database;
Categories=GNOME;GTK;Office;Database;
StartupNotify=false
Name=Wiithon (as root)
Name[es]=Wiithon (como root)
Path=
MimeType=application/x-iso9660-image;
InitialPreference=9
X-KDE-SubstituteUID=true
GenericName=WBFS Partition Manager
GenericName[es]=Gestor de particiones WBFS
Comment=WBFS Partition Manager
Comment[es]=Gestor de particiones WBFS

# Para cuando lo traduzcamos
GenericName[af]=WBFS Partition Manager
GenericName[az]=WBFS Partition Manager
GenericName[bg]=WBFS Partition Manager
GenericName[bs]=WBFS Partition Manager
GenericName[ca]=WBFS Partition Manager
GenericName[cs]=WBFS Partition Manager
GenericName[da]=WBFS Partition Manager
GenericName[de]=WBFS Partition Manager
GenericName[el]=WBFS Partition Manager
GenericName[en_GB]=WBFS Partition Manager
GenericName[eo]=WBFS Partition Manager
GenericName[et]=WBFS Partition Manager
GenericName[eu]=WBFS Partition Manager
GenericName[fa]=WBFS Partition Manager
GenericName[fi]=WBFS Partition Manager
GenericName[fr]=WBFS Partition Manager
GenericName[he]=WBFS Partition Manager
GenericName[hr]=WBFS Partition Manager
GenericName[hu]=WBFS Partition Manager
GenericName[id]=WBFS Partition Manager
GenericName[is]=WBFS Partition Manager
GenericName[it]=WBFS Partition Manager
GenericName[ja]=WBFS Partition Manager
GenericName[ko]=WBFS Partition Manager
GenericName[lo]=WBFS Partition Manager
GenericName[lt]=WBFS Partition Manager
GenericName[lv]=WBFS Partition Manager
GenericName[mk]=WBFS Partition Manager
GenericName[mn]=WBFS Partition Manager
GenericName[mt]=WBFS Partition Manager
GenericName[nb]=WBFS Partition Manager
GenericName[nl]=WBFS Partition Manager
GenericName[nn]=WBFS Partition Manager
GenericName[nso]=WBFS Partition Manager
GenericName[pl]=WBFS Partition Manager
GenericName[pt]=WBFS Partition Manager
GenericName[pt_BR]=WBFS Partition Manager
GenericName[ro]=WBFS Partition Manager
GenericName[ru]=WBFS Partition Manager
GenericName[se]=WBFS Partition Manager
GenericName[sk]=WBFS Partition Manager
GenericName[sl]=WBFS Partition Manager
GenericName[sr]=WBFS Partition Manager
GenericName[ss]=WBFS Partition Manager
GenericName[sv]=WBFS Partition Manager
GenericName[ta]=WBFS Partition Manager
GenericName[th]=WBFS Partition Manager
GenericName[tr]=WBFS Partition Manager
GenericName[uk]=WBFS Partition Manager
GenericName[ven]=WBFS Partition Manager
GenericName[vi]=WBFS Partition Manager
GenericName[xh]=WBFS Partition Manager
GenericName[zh_CN]=WBFS Partition Manager
GenericName[zh_TW]=WBFS Partition Manager
GenericName[zu]=WBFS Partition Manager
Comment[fr]=WBFS Partition Manager
Comment[fi]=WBFS Partition Manager
Comment[sv]=WBFS Partition Manager
