Source: wiithon
Section: games
Priority: optional
Maintainer: Ricardo Marmolejo García <makiolo@gmail.com>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 9), gcc-multilib (>= 4.4) [amd64], g++ (>= 4.4), intltool
Homepage: https://launchpad.net/wiithon

Package: wiithon
Architecture: any
Depends: libc6 (>= 2.4), libc6-dev (>= 2.4), python (>= 2.5), gcc-multilib (>= 4.4) [amd64], python-sqlalchemy (>= 0.8), imagemagick, gnome-icon-theme, libgtk2.0-0 (>= 2.24), python-gtk2 (>= 2.24), python-glade2 (>= 2.24), python-libxml2, python-dbus, unzip
Description: WBFS partition manager
 Wiithon is a software developed in Python, C, C++ and bash.
 It is used for easy management of Wii games on WBFS partitions.
 Wiithon provides a CLI and a GUI with a use very easy.
