Source: wiithon
Section: games
Priority: optional
Maintainer: Ricardo Marmolejo García <makiolo@gmail.com>
Standards-Version: 3.8.3
Build-Depends: debhelper (>= 7), libc6-dev-i386 [amd64], libc6-i386 [amd64], intltool, gcc, g++
Homepage: https://launchpad.net/wiithon

Package: wiithon
Architecture: any
Depends: python-sqlalchemy (>= 0.4), imagemagick, gnome-icon-theme, python-gtk2 (>= 2.16), python-glade2 (>= 2.16), unzip
Pre-Depends: ${shlibs:Depends}, python (>= 2.5), libgtk2.0-0 (>= 2.16)
Description: Wiithon is a WBFS partition manager
  Wiithon is a software developed in python, c, c++ and bash. It is used for easy management of Wii games on WBFS partitions. Wiithon provides a CLI and a GUI with a use very easy.
