Source: wiithon
Section: misc
Priority: optional
Maintainer: Ricardo Marmolejo García <makiolo@gmail.com>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5)
Homepage: https://launchpad.net/wiithon

Package: wiithon
Architecture: all
Essential: no
Depends: python (>= 2.5), python-sqlalchemy (>= 0.4), libgtk2.0-0 (>= 2.16), unzip, bash, imagemagick
Homepage: https://launchpad.net/wiithon
Provides: wiithon
Description: Wiithon is a software developed in python and bash, based on a C library (WBFS). It is used for easy management of Wii games on WBFS partitions. Wiithon provides a CLI and a GUI.
